{namespace s=Tx_Reposearch_ViewHelpers}

<f:layout name="Default" />

<f:section name="main">

	<h1>Suche <span>({results -> f:count()})</span></h1>

	<f:if condition="{results}">
		<f:then>
			<f:for each="{results}" as="result">
				<div class="result">
					<f:if condition="{result.settings.link.arguments.action}">
						<f:then>
							<![CDATA[ <!-- with action --> ]]>
							<h3><f:link.action pageUid="{result.settings.link.pageUid}" action="{result.settings.link.action}" controller="{result.settings.link.controller}" pluginName="{result.settings.link.pluginName}" extensionName="{result.settings.link.extensionName}">{result.object.name}</f:link.action></h3>
							<p>{result.object.text -> f:format.stripTags() -> s:format.highlightCrop(highlightString: searchWord, maxCharacters: 100)}</p>
						</f:then>
						<f:else>
							<![CDATA[ <!-- default --> ]]>
							<h3><f:link.action pageUid="{result.settings.link.pageUid}">{result.object.name}</f:link.action></h3>
							<p>{result.object.text -> f:format.stripTags() -> s:format.highlightCrop(highlightString: searchWord, maxCharacters: 100)}</p>
						</f:else>
					</f:if>

				</div>
			</f:for>
		</f:then>
		<f:else>
			<p>Keine Ergebnisse</p>
		</f:else>
	</f:if>

</f:section>