{namespace s=TYPO3\Reposearch\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">

	<h1><f:translate key="reposearch.search.results" /> "<strong>{searchWord}</strong>" <span>({results -> f:count()})</span></h1>

	<f:if condition="{results}">
		<f:then>
			<f:for each="{results}" as="result">
				<div class="result">
					<f:if condition="{result.settings.link.arguments.action}">
						<f:then>
							<![CDATA[ <!-- with action --> ]]>
							<h3>
								<f:link.action pageUid="{result.settings.link.pageUid}" action="{result.settings.link.action}" controller="{result.settings.link.controller}" pluginName="{result.settings.link.pluginName}" extensionName="{result.settings.link.extensionName}">
									{result.object.name -> f:format.raw()}
								</f:link.action>
							</h3>
							<p>{result.object.text -> f:format.stripTags() -> s:format.highlightCrop(highlightString: searchWord, maxCharacters: settings.highlightCrop.maxCharacters)}</p>
						</f:then>
						<f:else>
							<![CDATA[ <!-- default --> ]]>
							<h3>
								<f:link.action pageUid="{result.settings.link.pageUid}">
									{result.object.name -> f:format.raw()}
								</f:link.action>
							</h3>
							<p>{result.object.text -> f:format.stripTags() -> s:format.highlightCrop(highlightString: searchWord, maxCharacters: settings.highlightCrop.maxCharacters)}</p>
						</f:else>
					</f:if>

				</div>
			</f:for>
		</f:then>
		<f:else>
			<p><f:translate key="reposearch.search.noResults" /></p>
		</f:else>
	</f:if>

</f:section>